  /* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Navbar */
nav {
    background-color: #1E90FF; /* azul */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 5px solid #FFD700; /* linha amarela */
}

    /* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

    /* Links */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: color 0.3s;
}

    /* Link ativo */
.menu li a.active {
    color: #FFD700; /* amarelo */
}

    /* Hover */
.menu li a:hover {
    color: #FFD700;
}