body{
   font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 100px;
}

/* Ícone de perfil */
.perfil {
    position: absolute;
    top: 70px;
    right: 20px;
    font-size: 28px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    border: 2px solid #000;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão do carrinho flutuante */
.carrinho {
    position: fixed;
    bottom: 20px;
    right: 25px;
    background-color: #ffeb00;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho:hover {
    transform: scale(1.1);
}
