<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldentrip.com</title>

    <link rel="stylesheet" href="../DAO/css/tela_Cadastro/body.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="cadastro-container">

        <!-- imagem -->
        <div class="cadastro-img">
            <img src="../DAO/img/oi.jpg" alt="Imagem avião">
        </div>

        <!-- formulário -->
        <div class="cadastro-form">
            <h2>CADASTRE-SE</h2>

            <form action="/cadastro" method="POST">

                <div class="campo">
                    <label>Nome completo:</label>
                    <input type="text" name="nome" required>
                </div>

                <div class="campo">
                    <label>Email:</label>
                    <input type="email" name="email" required>
                </div>

            <div class="campo">
                    <label>Senha:</label>
                    <div class="input-eye">
                        <input type="password" name="senha" id="senha-cadastro" required>
                        <span class="eye-toggle" id="toggleSenhaCadastro"></span>
                    </div>
                </div>

                <div class="campo">
                    <label>Confirmar senha:</label>
                    <div class="input-eye">
                        <input type="password" name="confirmarSenha" id="confirmar-senha" required>
                        <span class="eye-toggle" id="toggleConfirmarSenha"></span>
                    </div>
                </div>


                <div class="campo">
                    <label>Data de nascimento:</label>
                    <input type="date" name="dataNascimento" required>
                </div>

                <button class="btn-cadastrar" type="submit">Cadastrar</button>
            </form>

            <a class="voltar" href="index.html">Voltar</a>
        </div>
    </div>

    <script>
        const params = new URLSearchParams(window.location.search);
        const msg = params.get("mensagem");
        if(msg){
            alert(msg);
            window.history.replaceState({}, document.title, window.location.pathname);
        }

        // Senha principal
        const senhaCadastro = document.getElementById("senha-cadastro");
        const toggleSenha = document.getElementById("toggleSenhaCadastro");
        toggleSenha.addEventListener("click", () => {
            if (senhaCadastro.type === "password") {
                senhaCadastro.type = "text";
                toggleSenha.classList.add("active");
            } else {
                senhaCadastro.type = "password";
                toggleSenha.classList.remove("active");
            }
        });

        // Confirmar senha
        const confirmarSenha = document.getElementById("confirmar-senha");
        const toggleConfirmar = document.getElementById("toggleConfirmarSenha");
        toggleConfirmar.addEventListener("click", () => {
            if (confirmarSenha.type === "password") {
                confirmarSenha.type = "text";
                toggleConfirmar.classList.add("active");
            } else {
                confirmarSenha.type = "password";
                toggleConfirmar.classList.remove("active");
            }
        });

    </script>

</body>
</html>
