<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldentrip.com</title>
    <link rel="stylesheet" href="../DAO/css/tela_Cadastro/header.css">
    <link rel="stylesheet" href="../DAO/css/tela_Cadastro/body.css">
    <link rel="stylesheet" href="../DAO/css/tela_Cadastro/footer.css">
    <!--link do Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="padding: 0%;">
        <div class="img">
            <img src="../DAO/img/oi.jpg" class="img-fluid" alt="...">
        </div>

        <!--Forms--> 
        <div class="cadastrar" style="width: 700px; height: 800px; padding-top: 20px;">
            <!--FORMS--> 
            <div class="forms" style="width: 50%; text-align: center; padding-left: 10px; padding-right: 10px;">
                <div class="topo" style="width: 300px;">             
                    <h2 style="margin-top: 10px; margin-bottom: 10px;">CADASTRE-SE</h2>
                </div>

                <form action="/cadastro" method="POST">
                    <!--Nome-->
                    <div class="campos">
                        <label style="display: block;">Nome completo:</label>
                        <input type="text" name="nome" required style="width: 330px; height: 30px;">
                    </div>

                    <!--Email-->
                    <div class="campos">
                        <label style="display: block;">Email:</label>
                        <input type="email" name="email" required style="width: 330px; height: 30px;">
                    </div>

                    <!--Senha-->
                    <div class="campos">
                        <label style="display: block;">Senha:</label>
                        <input type="password" name="senha" required style="width: 330px; height: 30px;">
                    </div>

                    <!--Confirmar Senha-->
                    <div class="campos">
                        <label style="display: block;">Confirmar senha:</label>
                        <input type="password" name="confirmarSenha" required style="width: 330px; height: 30px;">
                    </div>

                    <!--Data de nascimento-->
                    <div class="campos">
                        <label style="display: block;">Data de nascimento:</label>
                        <input type="date" name="dataNascimento" required style="width: 330px; height: 30px;">
                    </div>

                    <div style="margin-top: 40px;">
                        <button type="submit" style="color: #000; border-radius: 15px; background-color: #DCDCDC; font-size: 20px; width: 60%; height: 10%; margin-left: 27%; margin-right: 27%;">Cadastre-se</button>
                    </div>
                </form>
                <a href="index.html" style="text-decoration: none;">Voltar</a>
        
            </div>
        </div>
    </div>

    <script>
        const params = new URLSearchParams(window.location.search);
        const mensagem = params.get("mensagem");
            if (mensagem) {
                alert(mensagem);
                window.history.replaceState({}, document.title, window.location.pathname);
            }   
  </script>
</body>
</html>