<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldentrip.com</title>
    <link rel="stylesheet" href="../DAO/css/tela_Home/header.css">
    <link rel="stylesheet" href="../DAO/css/tela_Home/body.css">
    <link rel="stylesheet" href="../DAO/css/tela_Home/footer.css">
</head>
<body>
    <header>
         <nav>
            <div class="logo">GoldenTrip</div>
            <ul class="menu">
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">PACOTES</a></li>
                <li><a href="#">OPÇÕES DE RESERVAS</a></li>
                <li><a href="#">RESERVAS</a></li>
            </ul>
        </nav>
    </header>


    <h1>Ainda em produção!!!</h1>

    <footer>
        <h2>GoldenTrip</h2>

        <div class="descricao">
            <div class="integrantes">
                <p class="direitos">Todos os direitos reservados:</p>
                <p>Gustavo Fernandes</p>
                <p>Gustavo Quintanilia</p>
                <p>Nathan Fioravanti</p>
            </div>
            <div class="redes_Sociais">
                <p>nvihgbhngbijfg</p>
            </div>
        </div>
    </footer>
</body>
</html>