<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldentrip.com</title>

    <link rel="stylesheet" href="../DAO/css/tela_Login/body.css">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container" style="padding: 0%;">

        <!-- IMAGEM -->
        <div class="img">
            <img src="../DAO/img/oi.jpg" class="img-fluid" alt="Avião">
        </div>

        <!-- LOGIN -->
        <div class="login">

            <div class="forms">

                <h2>FAÇA SEU LOGIN</h2>

                <form action="/login" method="POST">

                    <div class="campos">
                        <label>Email:</label>
                        <input type="email" name="email" required>
                    </div>

                    <div class="campos">
                        <label>Senha:</label>
                        <div class="input-eye">
                            <input type="password" name="senha" id="senha-login" required>
                            <span class="eye-toggle" id="toggleSenhaLogin"></span>
                        </div>
                    </div>

                    <button type="submit">Logar</button>

                </form>

                <a href="cadastro.html">Cadastre-se</a>

            </div>
        </div>
    </div>

    <script>
        const params = new URLSearchParams(window.location.search);
        const msg = params.get("msg");
        if (msg) {
            alert(msg);
            window.history.replaceState({}, document.title, window.location.pathname);
        }

        // Mostrar/ocultar senha
        const senhaLogin = document.getElementById("senha-login");
        const toggleLogin = document.getElementById("toggleSenhaLogin");

        toggleLogin.addEventListener("click", () => {
            if (senhaLogin.type === "password") {
                senhaLogin.type = "text";
                toggleLogin.classList.add("active");
            } else {
                senhaLogin.type = "password";
                toggleLogin.classList.remove("active");
            }
        });
    </script>

</body>
</html>
