<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goldentrip.com</title>
    <link rel="stylesheet" href="../DAO/css/tela_Pacotes/header.css">
    <link rel="stylesheet" href="../DAO/css/tela_Pacotes/body.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">GoldenTrip</div>
            <ul class="menu">
                <li><a href="/home.html">HOME</a></li>
                <li><a href="/pacotes.html" class="active">PACOTES</a></li>
                <li><a href="/opcoes_Reserva.html">OPÇÕES DE RESERVAS</a></li>
                <li><a href="#">RESERVAS</a></li>
            </ul>
        </nav>
    </header>

    <!-- Ícone do perfil -->
    <div class="perfil">
        <i class="fa-solid fa-user"><img src="../DAO/img/painel_do_viajante.png" style="height: 50px; width: 50px; border-radius: 100%;" alt=""></i>
    </div>

    <!-- Container dos pacotes -->
    <div class="container-pacotes">
        <!-- Repetindo 8 cartões -->
        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>

        <div class="pacote">
            <div class="imagem">imagem</div>
            <p class="nome">Nome do pacote</p>
            <p>Informações</p>
            <p>Valor</p>
        </div>
    </div>

    <!-- Botão flutuante do carrinho -->
    <button class="carrinho">
        <i class="fa-solid fa-cart-shopping"><img src="../DAO/img/carrinho2-removebg-preview.png" style="height: 50px; width: 50px;" alt=""></i>
    </button>

    
</body>
</html>